<% provide(:title, 'ライセンス登録') %>
<% provide(:button_text, '登録する') %>

<%= form_with(model: @license, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <h2>基本事項</h2>
  <%= f.label :code, "アイセンス記号", class: 'label' %>
  <%= f.text_field :code, class: 'form-control' %>

  <%= f.label :date_of_issue, "交付日", class: 'label' %>
  <%= f.date_field :date_of_issue, class: 'form-control' %>

  <%= f.label :license_category_id, "ライセンスの種類", class: 'label' %>
  <%= f.number_field :license_category_id, class: 'form-control' %>

  <%= f.label :aircraft_category_id, "航空機の種類", class: 'label' %>
  <%= f.number_field :aircraft_category_id, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>