<td><%= '夜間飛行' %></td>
<td><%= '夜間飛行' %></td>
<td><%= show_flight_time(flight_time[:total_time][:hour], flight_time[:total_time][:min]) %></td>
<td><%= show_flight_time(flight_time[:pic_time][:hour], flight_time[:pic_time][:min]) %></td>
<td><%= show_flight_time(flight_time[:solo_time][:hour], flight_time[:solo_time][:min]) %></td>
<td><%= show_flight_time(flight_time[:cross_country_time][:hour], flight_time[:cross_country_time][:min]) %></td>
<td><%= show_flight_time(flight_time[:night_time][:hour], flight_time[:night_time][:min]) %></td>
<td><%= show_flight_time(flight_time[:dual_time][:hour], flight_time[:dual_time][:min]) %></td>
<td><%= show_flight_time(flight_time[:dual_crosss_country_time][:hour], flight_time[:dual_crosss_country_time][:min]) %></td>
<td><%= show_flight_time(flight_time[:dual_night_time][:hour], flight_time[:dual_night_time][:min]) %></td>
<td><%= show_flight_time(flight_time[:hood_time][:hour], flight_time[:hood_time][:min]) %></td>
<td><%= show_flight_time(flight_time[:instrument_time][:hour], flight_time[:instrument_time][:min]) %></td>
<td><%= show_flight_time(flight_time[:simlator_time][:hour], flight_time[:simlator_time][:min])  %></td>
<td><%= show_flight_time(flight_time[:instructor_time][:hour], flight_time[:instructor_time][:min]) %></td>
<td><%= '' %></td>