<% provide(:title, 'アカウント有効化リンクの再送信') %>
<% provide(:button_text, '再送信する') %>

<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8">アカウント有効化リンクの再送信</h2>
    <div class="flex justify-center items-center p-4 ">登録したメールアドレスを入力してください。<br>アカウント有効化のためのリンクをもう一度お送りします。</div>
    <form class="max-w-lg border rounded-lg mx-auto">
      <div class="flex flex-col gap-4 p-4 md:p-8">
      <%= form_for(@user, as: resource_name, url: new_user_confirmation_path, html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: @user %>
        <div>
          <%= f.label :email, "メールアドレス", class: 'inline-block text-gray-800 text-sm sm:text-base mb-2' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2' %>
        </div>
        <!-- 送信ボタン -->
        <%= f.submit yield(:button_text), class: "block bg-gray-800 hover:bg-gray-700 active:bg-gray-600 focus-visible:ring ring-gray-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %>
      <% end %>
      </div>
    </form>
  </div>
</div>
