<% provide(:title, @current_group.name) %>

<div class="break-words bg-white rounded w-full h-full shadow-xl">
  <section class="relative block h-500-px">
    <%= image_tag @current_group.group_cover, class: 'w-full' %>
  </section>
  <section class="relative pt-16 bg-blueGray-200 rounded">
    <div class="container mx-auto px-4">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64">
        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center">
              <div class="py-6 px-6 mt-32 sm:mt-0">
              </div>
            </div>
          </div>

          <div class="justify-center text-center text-gray-800 mt-2">
              <div class="flex-col">
                <h3 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700">
                  <%= @current_group.name %>
                </h3>
                <div class="my-2 text-blueGray-600">
                  <div class="flex items-center justify-center">
                    グループメンバー：
                    <div id='group_members' class="flex">
                      <%= render partial: 'show_members', collection: @group_members, as: :member %>
                    </div>
                  </div>
                </div>
                <div class="pt-4">
                  <%= render 'join_leave_button' %>
                </div>
                <div class="pt-4">
                  <%= link_to "グループを編集する", edit_group_path %>
                </div>
                <div class="pt-4">
                  <%= link_to "このグループを削除する", @current_group, method: :delete, data: { confirm: "本当にこのグループを削除しますか？" } %>
                </div>
              </div>
          </div>

          <div class="mt-5 py-5 border-t border-blueGray-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <span class="text-lg font-bold block tracking-wide text-blueGray-600">
                <h2 class="py-2">このフライトクラブについて</h2>
                </span>
                <p class="text-left mb-4 text-md leading-relaxed text-blueGray-700">
                  <%= @current_group.introduction %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="w-full bg-white mx-auto">
  <!-- ログブックセクション -->
  <div class="border rounded-lg mx-auto my-4">
    <div class="flex flex-col p-4 justify-center">
      <div class="bg-white pt-6">
        <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8"><%= "#{@current_group.name}のフライト" %></h2>
        <% if @group_gliderflights.any? %>
          <%= paginate @group_gliderflights, left: 3, right: 3 %> 
          <div class="overflow-x-auto">
            <div class="w-full lg:w-5/6">
              <div class="bg-white shadow-md rounded my-6">
                <table class="min-w-max w-full table-auto">
                  <%= render 'group_gliderflights/index_header' %>
                  <tbody class="text-gray-600 text-sm font-light">
                    <%= render partial: 'group_gliderflights/index_record', collection: @group_gliderflights, as: :group_gliderflight %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="flex justify-center mb-4">
            <%= paginate @group_gliderflights %>
          </div>
          <% if @group_gliderflights.last_page? %>
            <div class="flex justify-center items-center p-4">
              <%= link_to new_group_gliderflight_path do %>
                <%= render partial: "shared/button", locals: {item: '新しいグループフライトを登録'} %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="max-w-lg mx-auto bg-yellow-100 border-l-4 border-yellow-500 text-yellow-900 p-4 my-4" role="alert">
            まだグループフライトが登録されていません。
          </div>
          <div class="flex justify-center items-center p-4">
            <%= link_to "新しいフライトを登録する方はこちら", new_group_gliderflight_path, class: "text-indigo-500 hover:text-indigo-600 hover:underline active:text-indigo-700 transition duration-100" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>