<% provide(:title, '特定操縦技能審査合格履歴') %>

<div class="mx-auto px-4">
  <div class="flex flex-row px-4">
    <%= link_to 'javascript:history.back()' do %>
      <i class="fa-solid fa-angle-left fa-2x pr-4"></i>
    <% end %>
    <div class="flex flex-col">
      <div class="text-2xl font-bold pr-4">
        <%= @user.name %>
      </div>
      <div class="text-xs">
        <%= "#{@license.show_license_category}（#{@license.show_aircraft_category}）：#{@license.code}" %>
      </div>
    </div>
  </div>

  <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center my-4 md:mb-8">特定操縦技能審査合格履歴</h2>
  <div class="max-w-lg border rounded-lg mx-auto">
    <div class="flex flex-col gap-4 p-4 md:p-8 justify-center">
      <div class="bg-white py-6 sm:py-8 lg:py-12">
        <div class="max-w-screen-2xl px-4 md:px-8 mx-auto justify-center">
          <%= render partial: 'reccurent_history_card', collection: @reccurent_histories, as: 'reccurent_history' %>
        </div>
        <div class="flex justify-center items-center p-4">
          <%= link_to new_user_license_reccurent_history_path(@user, @license) do %>
            <%= render partial: "shared/button", locals: {item: '追加'} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
