<%
=begin%>
 <%= form_with(model: current_user.active_relationships.build, local: true) do |f| %>
  <div class="bg-gray-800 text-white rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2 justify-center text-center mx-auto">
    フォローする
  </div>
<% end %> 
<%
=end%>

<%= link_to user_path(id: user.id) do %> 
  <div class="flex items-center mx-auto max-w-lg bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 my-2">
    <div class="flex">
      <%= image_tag user.avatar, class: 'w-14 h-14 rounded-full ml-6 mr-2 mt-4' %>
      <div class="flex flex-col w-3/4 justify-between mx-auto py-4 pr-4 leading-normal">
        <p class="mb-2 text-xl font-bold tracking-tight text-gray-900">
          <%= user.name %>
        </p>
        <p class="mb-3 text-sm font-normal text-gray-700">
          <%= user.introduction.truncate(100) %>
        </p>
      </div>
    </div>
  </div>
<% end %> 
