<% flight_info = glider_page_total(summary_category) %>
<tr class="border-b border-gray-200">
  <% case summary_category %>
    <% when 'page_total' %>
      <th class="py-3 px-2">ページ小計<br>（下段は回数）</th>
    <% when 'up_to_before_current_page' %>
      <th class="py-3 px-2">前ページまでの合計<br>（下段は回数）</th>
    <% when 'all_pages' %>
      <th class="py-3 px-2">本ページまでの総合計<br>（下段は回数）</th>
  <% end %>
  <td class="py-3 px-2 text-center">
    <div>
      <%= show_flight_time(flight_info[:total_time]) if flight_info[:total_time] != 0 %>
    </div>
    <div>
      <%= flight_info[:total_number] if flight_info[:total_number] != 0 %>
    </div>
  </td>
  <td class="py-3 px-2 text-center">
    <div>
      <%= show_flight_time(flight_info[:pic_winch_time] + flight_info[:solo_winch_time]) if flight_info[:pic_winch_time] != 0 || flight_info[:solo_winch_time] != 0 %>
    </div>
    <div>
      <%= flight_info[:pic_winch_number] + flight_info[:solo_winch_number] if flight_info[:pic_winch_number] != 0 || flight_info[:solo_winch_number] != 0 %>
    </div>
  </td>
  <td class="py-3 px-2 text-center">
  <div>
    <%= show_flight_time(flight_info[:pic_aero_tow_time] + flight_info[:solo_aero_tow_time]) if flight_info[:pic_aero_tow_time] != 0 || flight_info[:solo_aero_tow_time] != 0 %>
  </div>
  <div>
    <%= flight_info[:pic_aero_tow_number] + flight_info[:solo_aero_tow_number] if flight_info[:pic_aero_tow_number] != 0 || flight_info[:solo_aero_tow_number] != 0 %>
  </div>
  </td>
  <td class="py-3 px-2 text-center">
    <div>
      <%= show_flight_time(flight_info[:dual_winch_time]) if flight_info[:dual_winch_time] != 0 %>
    </div>
    <div>
      <%= flight_info[:dual_winch_number] if flight_info[:dual_winch_number] != 0 %>
    </div>
  </td>
  <td class="py-3 px-2 text-center">
    <div>
      <%= show_flight_time(flight_info[:dual_aero_tow_time]) if flight_info[:dual_aero_tow_time] != 0 %>
    </div>
    <div>
      <%= flight_info[:dual_aero_tow_number] if flight_info[:dual_aero_tow_number] != 0 %>
    </div>
  </td>
  <td class="py-3 px-2 text-center">
    <div>
      <%= show_flight_time(flight_info[:cross_country_time]) if flight_info[:cross_country_time] != 0  %>
    </div>
  </td>
  <td class="py-3 px-2 text-center">
    <div class="table-data">
      <%= show_flight_time(flight_info[:instructor_time]) if flight_info[:instructor_time] != 0 %>
    </div>
    <div class="table-data">
      <%= flight_info[:instructor_number] if flight_info[:instructor_number] != 0 %>
    </div>
  </td>
</tr>