<tr class="bg-gray-200">
  <td>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
  </td>
</tr>

<tr onclick='window.location="<%= edit_glider_initial_log_path(@user) %>"' role="link" class="cursor-pointer hover:bg-gray-100">
  <th>ログ運用開始前の<br>飛行経歴</th>
  <!-- 飛行時間 -->
  <td class="py-3 px-6 text-center">
    <div>
      <div>
        <div>
          <%= show_flight_time(@glider_initial_log.total_time) if @glider_initial_log.total_time != 0 %>
        </div> 
        <div class="table-data">
          <%= @glider_initial_log.total_number if @glider_initial_log.total_number != 0 %>
        </div>
      </div>
    </div>
  </td>
  <!-- ウインチ曳航（単独又は機長） -->
  <td class="py-3 px-6 text-center">
    <div>
      <div>
        <%= show_flight_time(@glider_initial_log.pic_winch_time + @glider_initial_log.solo_winch_time) if @glider_initial_log.pic_winch_time != 0 || @glider_initial_log.solo_winch_time != 0 %>
      </div>
      <div class="table-data">
        <%= @glider_initial_log.pic_winch_number + @glider_initial_log.solo_winch_number if @glider_initial_log.pic_winch_number != 0 || @glider_initial_log.solo_winch_number != 0 %>
      </div>
    </div>
  </td>
  <!-- 航空機曳航（単独又は機長） -->
  <td class="py-3 px-6 text-center">
    <div>
      <div>
        <%= show_flight_time(@glider_initial_log.pic_aero_tow_time + @glider_initial_log.solo_aero_tow_time) if @glider_initial_log.pic_aero_tow_time != 0 || @glider_initial_log.solo_aero_tow_time != 0 %>
      </div>
      <div>
        <%= @glider_initial_log.pic_aero_tow_number + @glider_initial_log.solo_aero_tow_number if @glider_initial_log.pic_aero_tow_number != 0 || @glider_initial_log.solo_aero_tow_number != 0 %>
      </div>
    </div>
  </td>
  <!-- ウインチ曳航（同乗教育） -->
  <td class="py-3 px-6 text-center">
    <div>
      <div>
        <%= show_flight_time(@glider_initial_log.dual_winch_time) if @glider_initial_log.dual_winch_time != 0 %>
      </div>
      <div>
        <%= @glider_initial_log.dual_winch_number if @glider_initial_log.dual_winch_number != 0 %>
      </div>
    </div>
  </td>
  <!-- 航空機曳航（同乗教育） -->
  <td class="py-3 px-6 text-center">
    <div>
      <div>
        <%= show_flight_time(@glider_initial_log.dual_aero_tow_time) if @glider_initial_log.dual_aero_tow_time != 0 %>
      </div>
      <div>
        <%= @glider_initial_log.dual_aero_tow_number if @glider_initial_log.dual_aero_tow_number != 0 %>
      </div>
    </div>
  </td>
  <!-- 野外飛行時間 -->
  <td class="py-3 px-6 text-center">
    <div>
      <%= show_flight_time(@glider_initial_log.cross_country_time) if @glider_initial_log.cross_country_time != 0 %>
    </div>
  </td>
  <!-- 操縦教員としての飛行時間 -->
  <td class="py-3 px-6 text-center">
    <div>
      <div>
        <%= show_flight_time(@glider_initial_log.instructor_time) if @glider_initial_log.instructor_time != 0 %>
      </div>
      <div>
        <%= @glider_initial_log.instructor_number if @glider_initial_log.instructor_number != 0 %>
      </div>
    </div>
  </td>
</tr>
