<% provide(:title, '新しいフライト') %>
<% provide(:button_text, '登録する') %>
<% @user ||= current_user %>

<div class="mx-auto px-4">
  <div class="flex flex-row px-4 mb-4">
    <%= link_to 'javascript:history.back()' do %>
      <i class="fa-solid fa-angle-left fa-2x pr-4"></i>
    <% end %>
    <div class="flex flex-col">
      <div class="text-2xl font-bold pr-4"><%= yield(:title) %></div>
    </div>
  </div>
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <div class="border rounded-lg mx-auto my-4">
        <div class="flex flex-col p-4 md:p-8 justify-center">
          <div class="bg-white py-6 sm:py-8 lg:py-12">
            <%= form_with(model: @glider_flight, local: true) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <div>
                <%= f.label :date, "出発日", class: 'mt-3 font-bold inline-block text-gray-800 text-sm sm:text-base mb-2' %>
                <%= f.date_field :date, autofocus: true, autocomplete: "date_of_issue", class: 'w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2' %>
              </div>
              <div>
                <%= f.label :departure_and_arrival_point, "離着陸の区間", class: 'mt-3 font-bold inline-block text-gray-800 text-sm sm:text-base mb-2' %>
                <%= f.text_field :departure_and_arrival_point, autofocus: true, autocomplete: "name", class: 'w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2' %>
              </div>
              <div>
                <%= f.label :glider_type, "航空機の型式", class: 'mt-3 font-bold inline-block text-gray-800 text-sm sm:text-base mb-2' %>
                <%= f.collection_select :aircraft_type_id, @glider_type, :id, :aircraft_type, prompt: "航空機の型式を選択してください", class: 'w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2' %>
              </div>
              <div>
                <%= f.label :glider_ident, "登録記号", class: 'mt-3 font-bold inline-block text-gray-800 text-sm sm:text-base mb-2' %>
                <%= f.select :glider_ident, [["JA21MA", "JA21MA"], ["JA2381", "JA2381"]], include_blank: "登録記号を選択して下さい", class: 'w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2' %>
              </div>
              <p class='mt-3 font-bold inline-block text-gray-800 text-sm sm:text-base mb-2'>曳航タイプ</p>
              <div class="flex">
                <div class="ml-3">
                  <%= f.radio_button :is_winch, :true, checked: true, class: "form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" %>
                  <%= f.label :is_winch, "ウインチ曳航", value: true, class: 'inline-block text-gray-800 text-sm sm:text-base mb-2' %>
                </div>
                <div class="ml-3">
                  <%= f.radio_button :is_winch, :false, class: "form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" %>
                  <%= f.label :is_winch, "航空機曳航", value: false, class: 'inline-block text-gray-800 text-sm sm:text-base mb-2'  %>
                </div>
              </div>
              <p class='mt-3 font-bold inline-block text-gray-800 text-sm sm:text-base mb-2'>操縦区分</p>
              <div class="flex">
                <div class="ml-3">
                  <%= f.radio_button :flight_role, :"機長", checked: true, class: "form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" %>
                  <%= f.label :flight_role, "機長", value: :"機長", class: 'inline-block text-gray-800 text-sm sm:text-base mb-2' %>
                </div>
                <div class="ml-3">
                  <%= f.radio_button :flight_role, :"単独飛行", class: "form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" %>
                  <%= f.label :flight_role, "単独飛行", value: :"単独飛行", class: 'inline-block text-gray-800 text-sm sm:text-base mb-2' %>
                </div>
                <div class="ml-3">
                  <%= f.radio_button :flight_role, :"同乗教育", class: "form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" %>
                  <%= f.label :flight_role, "同乗教育", value: :"同乗教育", class: 'inline-block text-gray-800 text-sm sm:text-base mb-2' %>
                </div>
                <div class="ml-3">
                  <%= f.check_box :is_instructor, {}, true, false %>
                  <%= f.label :is_instructor, "操縦教員としてのフライト", class: "inline-block text-gray-800 text-sm sm:text-base mb-2" %>
                </div> 
              </div>

              <p class='mt-3 font-bold inline-block text-gray-800 text-sm sm:text-base mb-2'>フライト内容</p>
              <div class="flex">
                <div class="ml-3">
                  <%= f.check_box :is_cross_country, {}, true, false %>
                  <%= f.label :is_cross_country, "野外飛行", class: "inline-block text-gray-800 text-sm sm:text-base mb-2" %>
                </div>
                <div class="ml-3">
                  <%= f.check_box :is_stall_recovery, {}, true, false %>
                  <%= f.label :is_stall_recovery, "失速からの回復", class: "inline-block text-gray-800 text-sm sm:text-base mb-2" %>
                </div>
              </div>

              <p class='mt-3 font-bold inline-block text-gray-800 text-sm sm:text-base mb-2'>フライト内容</p>
              <div class="flex justify-center">
                <div class="inline-block align-middle">
                  <%= f.label :takeoff_time, "離陸時刻", class: 'inline-block text-gray-800 text-sm sm:text-base mb-2' %>
                  <%= f.time_field :takeoff_time, class: 'w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2' %>
                </div>
                <i class="fa-solid fa-plane-departure fa-lg inline-block align-middle"></i>
                <div class="flex-col inline-block align-middle">
                  <div>
                    <%= f.label :release_alt, "離脱高度", class: 'inline-block text-gray-800 text-sm sm:text-base mb-2' %>
                    <%= f.number_field :release_alt, {value: 400, step: 10, class: 'w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2'} %>
                  </div>
                  <div>
                    <%= f.label :number_of_landing, "着陸回数", class: 'inline-block text-gray-800 text-sm sm:text-base mb-2' %>
                      <%= f.number_field :number_of_landing, {value: 1, class: 'w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2'} %>
                  </div>
                </div>
                <i class="fa-solid fa-plane-arrival fa-lg inline-block align-middle"></i>
                <div class="inline-block align-middle">
                  <%= f.label :landing_time, "着陸時刻", class: 'inline-block text-gray-800 text-sm sm:text-base mb-2' %>
                  <%= f.time_field :landing_time, class: 'w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2' %>
                </div>
              </div>
              <div>
                <%= f.label :note, "備考", class: 'mt-3 font-bold inline-block text-gray-800 text-sm sm:text-base mb-2' %>
                <%= f.text_area :note, class: 'w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2' %>
              </div>

              <%= f.submit yield(:button_text), class: "mt-4 block bg-gray-800 hover:bg-gray-700 active:bg-gray-600 focus-visible:ring ring-gray-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>