<% provide(:title, 'フィード') %>

<% @user ||= @current_user %>

<div class="mx-auto px-4">
  <div class="flex flex-row px-4 mb-4">
    <%= link_to :back do %>
      <i class="fa-solid fa-angle-left fa-2x pr-4"></i>
    <% end %>
    <div class="flex flex-col">
      <div class="text-2xl font-bold pr-4"><%= yield(:title) %></div>
    </div>
  </div>
  <h2 class="text-xl font-bold underline underline-offset-8 px-4 py-5 text-center">おすすめユーザー</h2>
  <div class="mx-auto">
    <div class="flex flex-row gap-4 p-4 md:p-8 overflow-x-auto">
      <%= render partial: "users/recommended_user_card", collection: @reccomended_users, as: :user %>  
    </div>
  </div>
  <!-- ボーダー（始まり） -->
  <div class="w-full border-b-2 border-gray-600 py-5 mx-auto"></div>
  <div class="w-full py-2 mx-auto"></div>
  <!-- ボーダー（終わり） -->
  <h2 class="text-xl font-bold underline underline-offset-8 px-4 py-5 text-center">フィード</h2>
  <div class="max-w-lg border rounded-lg mx-auto">
    <div class="flex flex-col gap-4 p-4 md:p-8">
      <%= render 'shared/post_form' %>
    </div>
  </div>
  <!-- ボーダー（始まり） -->
  <div class="max-w-lg border-b-2 border-gray-600 py-2 mx-auto"></div>
  <div class="max-w-lg py-2 mx-auto"></div>
  <!-- ボーダー（終わり） -->
  <div class="max-w-lg border rounded-lg mx-auto">
    <div class="flex flex-col gap-4 p-4 md:p-8">
      <%= render partial: "microposts/micropost_card", collection: @microposts, as: :micropost %>
      <%= paginate @microposts, left: 3, right: 3 %> 
    </div>
  </div>
</div>
