<%
=begin%>
 <% provide(:title, 'アカウントを作る') %>
<% provide(:button_text, '認証メールを送信する') %>


<div class="c-section-container">
  <h2 class="u-text-center u-text__headline">アカウント登録</h2>
  <div class="module-spacer--medium"></div>
  <div class="c-section-display-flex">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-item">
        <%= f.label :name, "アカウントネーム" %>
        <%= f.text_field :name, class: 'input' %>
      </div>
      <div class="form-item">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: 'input' %>
      <div class="form-item">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: 'input' %>
      </div>
      <div class="form-item">
        <%= f.label :password_confirmation, "パスワード（確認）" %>
        <%= f.password_field :password_confirmation, class: 'input' %>
      </div>
      <div class="module-spacer--medium"></div>
      <div class="center">
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
      <div class="module-spacer--small"></div>
      <%= link_to 'アカウントをお持ちの方はこちら', login_path, class: "u-text-small" %>
    </div>
  </div>
</div> 
<%
=end%>

<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8">Login</h2>

    <form class="max-w-lg border rounded-lg mx-auto">
      <div class="flex flex-col gap-4 p-4 md:p-8">
        <div>
          <label for="email" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Email</label>
          <input name="email" class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
        </div>

        <div>
          <label for="password" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Password</label>
          <input name="password" class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
        </div>

        <button class="block bg-gray-800 hover:bg-gray-700 active:bg-gray-600 focus-visible:ring ring-gray-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Log in</button>

        <div class="flex justify-center items-center relative">
          <span class="h-px bg-gray-300 absolute inset-x-0"></span>
        </div>
      </div>

      <div class="flex justify-center items-center bg-gray-100 p-4">
        <p class="text-gray-500 text-sm text-center">Don't have an account? <a href="#" class="text-indigo-500 hover:text-indigo-600 active:text-indigo-700 transition duration-100">Register</a></p>
      </div>
    </form>
  </div>
</div>

