<tr onclick='window.location="<%= glider_group_flight_path(glider_group_flight) %>"' role="link" class="cursor-pointer text-gray-800 border-b border-gray-200 hover:bg-gray-100 even:bg-gray-200">
  <td class="py-3 px-2 text-center border">
    <%= glider_group_flight.date %>
  </td>
  <td class="py-3 px-2 text-center border">
    <%= show_aircraft(glider_group_flight.fleet) %>
  </td>
  <td class="py-3 px-2 text-center border">
    <%= glider_group_flight.departure_point %>
  </td>
  <td class="py-3 px-2 text-center border">
    <%= glider_group_flight.arrival_point %>
  </td>
  <td class="py-3 px-2 text-center border">
    <%= show_user_name(glider_group_flight.front_seat) %>
  </td>
  <td class="py-3 px-2 text-center border">
    <%= show_user_name(glider_group_flight.rear_seat) if !glider_group_flight.rear_seat.nil? %>
  </td>
  <td class="py-3 px-2 text-center border">
    <%= towing_way(glider_group_flight) %>
  </td>
  <td class="py-3 px-2 text-center border">
    <%= glider_group_flight.takeoff_time.strftime("%R") %>
  </td>
  <td class="py-3 px-2 text-center border">
    <%= glider_group_flight.release_time.strftime("%R") %>
  </td>
  <td class="py-3 px-2 text-center border">
    <%= glider_group_flight.landing_time.strftime("%R") %>
  </td>
  <td class="py-3 px-2 text-center border">
    <%= show_flight_time(glider_group_flight.each_egroup_flight_time) %>
  </td>
  <td class="py-3 px-2 text-center border">
    <%= glider_group_flight.release_alt %>
  </td>
  <td class="py-3 px-2 text-center border">
    <%= glider_group_flight.note %>
  </td>
</tr>