<% provide(:title, "グループフライト") %>
<% @user ||= current_user %>

<div class="mx-auto px-4">
  <div class="flex flex-row px-4">
    <%= link_to :back do %>
      <i class="fa-solid fa-angle-left fa-2x pr-4"></i>
    <% end %>
    <div class="flex flex-col">
      <div class="text-2xl font-bold pr-4"><%= @user.name %></div>
    </div>
  </div>

  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <!-- ログブックセクション -->
      <div class="border rounded-lg mx-auto my-4">
        <div class="flex flex-col p-4 md:p-8 justify-center">
          <div class="bg-white py-6 sm:py-8 lg:py-12">
            <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8">
              <%= "#{@current_group.name}のフライト（#{@glider_group_flights.current_page}ページ目）" %>
            </h2>
            <% if @glider_group_flights.any? %>
              <%= paginate @glider_group_flights, left: 3, right: 3 %> 
              <div class="overflow-x-auto">
                <div class="w-full lg:w-5/6">
                  <div class="bg-white shadow-md rounded my-6">
                    <table class="min-w-max w-full table-auto">
                      <%= render 'glider_group_flights/index_header' %>
                      <tbody class="text-gray-600 text-sm font-light">
                        <%= render partial: 'glider_group_flights/index_record', collection: @glider_group_flights, as: :glider_group_flight %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <% if @glider_group_flights.last_page? %>
                  <div class="flex justify-center items-center p-4">
                    <%= link_to new_glider_group_flight_path do %>
                      <%= render partial: "shared/button", locals: {item: '新しいグループフライトを登録'} %>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <%= paginate @glider_group_flights, left: 3, right: 3 %> 
            <% else %>
              <div class="justify-center items-center p-4">
                <p class="text-center">まだグループフライトが登録されていません。</p>
                <%= link_to "新しいフライトを登録する方はこちら", new_glider_group_flight_path, class: "text-indigo-500 hover:text-indigo-600 active:text-indigo-700 transition duration-100" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>