<% provide(:title, "グループフライト") %>
<% @user ||= current_user %>

<div class="bg-white pt-6">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <!-- ログブックセクション -->
    <div class="border rounded-lg mx-auto my-4">
      <div class="flex flex-col p-4 md:p-8 justify-center">
        <div class="bg-white pt-6">
          <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8">
            <%= "#{@current_group.name}のフライト（#{@glider_group_flights.current_page}ページ目）" %>
          </h2>
          <% if @glider_group_flights.any? %>
            <%= paginate @glider_group_flights, left: 3, right: 3 %> 
            <div class="overflow-x-auto">
              <div class="w-full lg:w-5/6">
                <div class="bg-white shadow-md rounded my-6">
                  <table class="min-w-max w-full table-auto">
                    <%= render 'glider_group_flights/index_header' %>
                    <tbody class="text-gray-600 text-sm font-light">
                      <%= render partial: 'glider_group_flights/index_record', collection: @glider_group_flights, as: :glider_group_flight %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <%= paginate @glider_group_flights %>
            <% if @glider_group_flights.last_page? %>
              <div class="flex justify-center items-center p-4">
                <%= link_to new_glider_group_flight_path do %>
                  <%= render partial: "shared/button", locals: {item: '新しいグループフライトを登録'} %>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <div class="justify-center items-center p-4">
              <div class="max-w-lg mx-auto bg-yellow-100 border-l-4 border-yellow-500 text-yellow-900 p-4 my-4" role="alert">
                まだグループフライトが登録されていません。
              </div>
              <div class="flex justify-center" role="alert">
                <%= link_to "新しいフライトを登録する方はこちら", new_glider_group_flight_path, class: "text-indigo-600 hover:text-indigo-500 hover:underline active:text-indigo-800 transition duration-100" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>