<% provide(:title, 'グループフライト詳細') %>
<% @user ||= current_user %>

<div class="mx-auto px-4">
  <div class="flex flex-row px-4 mb-4">
    <%= link_to 'javascript:history.back()' do %>
      <i class="fa-solid fa-angle-left fa-lg pr-4"></i>
    <% end %>
    <div class="flex flex-col">
      <div class="text-2xl font-bold pr-4"><%= yield(:title) %></div>
    </div>
  </div>

  <div class="max-w-screen-sm bg-white shadow py-3 px-4 mx-auto my-4 border border-gray-200 rounded-lg flex-col">
    <div class="flex justify-center">
      <div class="flex flex-col">
        <div class="flex flex-col">

          <div class="flex flex-row">
            <div class="flex-col">
              <p class="md:text-base font-bold">出発日</p>
              <p class="md:text-2xl md:ml-4 ml-2">
                <%= @glider_group_flight.date.strftime("%Y年%m月%d日") %>
              </p>
            </div>
            <div>
              <div class="flex-col ml-4">
                <p class="md:text-base font-bold">搭乗機体</p>
                <p class="md:text-2xl md:ml-4 ml-2">
                  <%= show_aircraft(@glider_group_flight.fleet) %>
                </p>
              </div>
            </div>
          </div>

          <!-- 補足情報 -->
          <div class="flex flex-row mt-4">
            <p class='font-bold inline-block text-gray-800 text-sm sm:text-base my-auto'>曳航タイプ</p>
            <div class="my-auto text-sm ml-4">
              <%= @glider_group_flight.is_winch ? "ウインチ曳航" : "航空機曳航" %>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- 搭乗者情報 -->
        <div class="bg-white shadow py-6 sm:py-8 lg:py-12 px-4 md:px-8 w-full my-4 border rounded-lg flex-col justify-center p-4 md:p-8 flex justify-center">
          <div class="w-full text-gray-800">
            <p class="text-xl font-bold text-center underline mb-2">搭乗者情報</p>
            <!-- 前席搭乗者 -->
            <div class="flex flex-wrap justify-center my-2">
              <div class="flex flex-row">
                <p class="font-bold inline-block text-gray-800 text-base">前席搭乗者</p>
                <div class="text-gray-800 text-base ml-2 my-auto">
                  <%= show_user_name(@glider_group_flight.front_seat) %>
                </div>
              </div>
              <div class="text-gray-800 ml-0 md:ml-2 text-sm my-auto">
                <%= "（操縦区分：#{@glider_group_flight.front_flight_role}）" %>
              </div>
            </div>
            <!-- 後席搭乗者 -->
            <div class="flex flex-wrap justify-center my-2">
              <div class="flex flex-row">
                <p class="font-bold inline-block text-gray-800 text-base">後席搭乗者</p>
                <div class="text-gray-800 text-base ml-2 my-auto">
                  <%= show_user_name(@glider_group_flight.rear_seat) %>
                </div>
              </div>
              <div class="text-gray-800 ml-0 md:ml-2 text-sm my-auto">
                <%= "（操縦区分：#{@glider_group_flight.rear_flight_role}）" %>
              </div>
            </div>
          </div>
        </div>
    <div class="bg-white shadow py-3 px-4 mx-auto my-4 border border-gray-300 rounded-lg flex-col justify-center p-4 md:p-8">
      <div class="py-4 px-6 text-gray-800">
        <p class="text-xl font-bold text-center underline">フライト情報</p>
        <!-- フライト情報 -->
        <div class="flex justify-evenly my-6">
          <!-- 離陸情報 -->
          <div class="flex-col mx-2">
            <div class="md:text-base font-bold">
              FROM
            </div>
            <div class="md:text-2xl">
              <%= @glider_group_flight.departure_point %>
            </div>
            <div class="flex justify-center mt-2">
              <i class="fa-solid fa-plane-departure my-auto fa-lg"></i>
              <div class="md:text-3xl text-xl ml-4">
                <%= @glider_group_flight.takeoff_time.strftime("%R") %>
              </div>
            </div>
          </div>
          <!-- 補足情報 -->
          <div class="flex-col my-auto">
            <div class="flex-col text-center my-auto">
              <div class="flex-col">
                <p class="text-xs">離脱高度</p>
                <p class="text-sm font-bold">
                  <%= @glider_group_flight.release_alt %>
                </p>
              </div>
            </div>
            <div class="flex justify-center mx-auto my-2">
              <i class="fa-solid fa-plane sm:fa-2x fa-lg"></i>
            </div>
            <div class="flex-col text-center my-auto">
              <div class="flex-col text-center">
                <p class="text-sm font-bold">
                  <%= @glider_group_flight.release_time.strftime("%R") %>
                </p>
                <p class="text-xs">離陸時刻</p>
              </div>
            </div>
          </div>
          <!-- 着陸情報 -->
          <div class="flex-col mx-4">
            <div class="md:text-base font-bold">
              TO
            </div>
            <div class="md:text-2xl">
              <%= @glider_group_flight.arrival_point %>
            </div>
            <div class="flex justify-center mt-2">
              <div class="md:text-3xl text-xl mr-4">
                <%= @glider_group_flight.landing_time.strftime("%R") %>
              </div>
              <i class="fa-solid fa-plane-arrival my-auto fa-lg"></i>
            </div>
          </div>
        </div>
          <p class='w-full mt-3 font-bold inline-block text-gray-800 text-base text-center underline mb-2'>実施課目</p>
          <div class="flex justify-evenly">
            <% if @glider_group_flight.is_cross_country %>
              <p class='text-gray-800 text-base text-center'>クロスカントリーフライト</p>
            <% end %>
            <% if @glider_group_flight.is_stall_recovery %>
              <p class='text-gray-800 text-base text-center'>失速からの回復</p>
            <% end %>
          </div>
      </div>
    </div>
    <div class="my-2">
      <p class="text-xl font-bold text-center underline">備考</p>
      <div class="text-gray-800 text-base ml-2 my-auto">
        <%= @glider_group_flight.note %>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="mx-4">
        <%= link_to edit_glider_group_flight_path(@glider_group_flight) do %>
          <%= render partial: "shared/button", locals: {item: '編集'} %>
        <% end %>
      </div>
      <div class="mx-4">
        <%= link_to glider_group_flight_path(@glider_group_flight), method: :delete, data: { confirm: "本当に削除しますか？" } do %>
          <%= render partial: "shared/button", locals: {item: '削除'} %>
        <% end %>
      </div>
    </div>
  </div>
</div>  
