
    <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8">特定操縦技能審査合格履歴</h2>
    <div class="max-w-lg border rounded-lg mx-auto">
      <div class="flex flex-col gap-4 p-4 md:p-8">

        <%= link_to user_license_reccurent_history_path(@user, @license, reccurent_history) do %>
          <div class="px-8 py-4 bg-blue-200 shadow rounded flex flex-col leading-normal"> 
            <div class="mb-8">
              <div class="text-gray-700 text-base text-lg flex">
                <div class="flex-col">
                  <div class="font-bold">
                    <%= "合格日：#{reccurent_history.date.strftime("%Y年%m月%d日")}" %>
                  </div>
                  <div class="font-bold">
                    <%= "有効期間：#{reccurent_history.valid_for}年間" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex items-center">
              <div class="text-gray-700 text-base text-xs text-left flex-col">
                <div class="font-bold">有効期間</div>
                <div class="text-gray-700 text-base text-sm text-right">
                  <div>
                    <%= "#{reccurent_history.date.strftime("%Y年%m月%d日")}から" %>
                  </div>
                  <div>
                    <%= "#{(reccurent_history.date + reccurent_history.valid_for.years).strftime("%Y年%m月%d日")}まで" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
