<% provide(:button_text, '投稿') %>
<%= form_with(model: @micropost, local: true) do |f| %>
  <div class="field">
    <%= f.text_area :content, value: nil, placeholder: "今どうしてる？" %>
  </div>
  <span class="image">
    <%= f.file_field :images, accept: "image/jpeg,image/gif,image/png", multiple: true %>
  </span>
  <!-- 「フライトの投稿」の場合は対象のフライトデータを保持しておく -->
  <% if !defined? target_flight %>
    <%= f.hidden_field :is_flight_attached, value: false %>
  <% else %>
    <%= f.hidden_field :glider_flight_id, value: target_flight.id %>
    <%= f.hidden_field :is_flight_attached, value: true %>
  <% end %>
  <!-- 返信の宛先 -->
  <% unless !defined? @replied_micropost %>
    <%= f.hidden_field :replied_micropost, multiple: true, value: @replied_micropost.to_json %>
  <% end %>
  <!-- 送信ボタン -->
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $("#micropost_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#micropost_image").val("");
    }
  });
</script>