<% provide(:title, '保有ライセンス管理') %>
<% glider_licenses = @licenses.where("aircraft_category_id = ?", 1) %>
<% aeroplane_licenses = @licenses.where("aircraft_category_id = ?", 2) %>

<div class="mx-auto px-4">
  <div class="flex flex-row px-4">
    <%= link_to 'javascript:history.back()' do %>
      <i class="fa-solid fa-angle-left fa-2x pr-4 mt-2"></i>
    <% end %>
    <div class="flex flex-col">
      <div class="text-xl font-bold pr-4">保有ライセンス管理</div>
      <div class="text-sm"><%= "#{@licenses.count}個の保有ライセンス" %></div>
    </div>
  </div>

  <div class='mx-auto px-4 py-10'>
    <!-- 上級滑空機 -->
    <div class="flex-col">
      <h2 class="text-xl font-bold underline underline-offset-8">上級滑空機</h2>
      <div class="mt-6">
        <%= link_to new_user_license_path(@user, @license) do %>
          <%= render partial: "shared/button", locals: {item: 'ライセンスを追加'} %>
        <% end %>
      </div>
    </div>
    <% if glider_licenses.any? %>
      <div class='flex flex-wrap justify-center'> 
        <%= render partial: "licenses/license_card", collection: glider_licenses, as: :license %>
      </div> 
    <% else %>
      <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-900 p-4 my-4" role="alert">
        まだライセンスを保有していません。
      </div>
    <% end %>
  </div> 
</div> 
