<% provide(:title, 'グループフライトから取得') %>
<% provide(:button_text, '登録する') %>

<div class="mx-auto px-4">
  <div class="flex flex-row px-4">
    <%= link_to :back do %>
      <i class="fa-solid fa-angle-left fa-2x pr-4"></i>
    <% end %>
    <div class="flex flex-col">
      <div class="text-2xl font-bold pr-4"><%= @current_user.name %></div>
    </div>
  </div>

  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <!-- ログブックセクション -->
      <div class="border rounded-lg mx-auto my-4">
        <div class="flex flex-col p-4 md:p-8 justify-center">
          <div class="bg-white py-6 sm:py-8 lg:py-12">
            <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8"><%= "未追加のグループフライト" %></h2>

            <%= form_with model: @glider_flights, url: {controller: 'glider_flights', action: 'create_from_groups' }, local: true do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <div class="overflow-x-auto">
                <div class="w-full lg:w-5/6 justify-center">
                  <div class="bg-white shadow-md rounded my-6">
                    <table class="table-auto">
                      <!-- ヘッダー部分 -->
                      <%= render partial: 'glider_flights/from_groups/index_header' %>
                      <!-- テーブル本体部分 -->
                      <tbody class="text-gray-600 text-sm font-light">
                        <% n = 0 %>
                        <% @glider_flights.collection.each do |glider_flight| %>
                          <% if !glider_flight.nil? && !match_takeoff_time?(glider_flight, @logged_flights) %>
                            <% n += 1 %>
                            <%= render partial: 'glider_flights/from_groups/index_record', locals: {glider_flight: glider_flight} %>
                          <% end %>
                        <% end %>
                      </tbody>
                    </table>
                      <!-- 登録可能なフライトログがある場合 -->
                      <% if n != 0 %>
                        <%= f.submit yield(:button_text), class: "mt-4 block bg-gray-800 hover:bg-gray-700 active:bg-gray-600 focus-visible:ring ring-gray-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %>
                        <!-- 登録可能なフライトログがない場合 -->
                      <% else %>
                        <div class="p-2">登録可能なフライトログがありません。</div>
                      <% end %>
                  </div>
                </div>
              </div>
            <% end %> 
          </div>
        </div>
      </div>
      <div class="flex justify-center items-center p-4">
        <%= link_to :back do %>
          <%= render partial: "shared/button", locals: {item: '戻る'} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
