<% provide(:title, 'フライトログブック（滑空機）') %>
<% @user ||= current_user %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= 'フライトログブック（滑空機）' %></h1>
    </section>
    <%
=begin%>
 <section class="flight_experiences">
      <%= render 'shared/flight_experiences' %>
    </section> 
<%
=end%>
  </aside>
  <div class="col-md-8">
    <% if @user.glider_flights.any? %>
      <h3>フライトログ (<%= @user.glider_flights.count %>)</h3>
    <table border="1">
    <!-- 見出し部分 -->
    <tr>
      <th rowspan="3">No.</th>
      <th rowspan="3">出発日</th>
      <th rowspan="3">航空機の型式</th>
      <th rowspan="3">登録記号</th>
      <th rowspan="3">出発地</th>
      <th rowspan="3">到着地</th>
      <th rowspan="3">離陸時刻</th>
      <th rowspan="3">着陸時刻</th>
      <th rowspan="3">着陸回数</th>
      <!-- 滑空機による時間 -->
      <th colspan="5">滑空機による時間</th>
      <th colspan="5">動力滑空機による時間</th>
      <th rowspan="3">野外飛行</th>
      <th rowspan="3">離脱高度 又は 動力停止高度</th>
      <th rowspan="3">操縦教員としての飛行時間</th>
      <th rowspan="3">補足事項</th>
    </tr>
    <tr>
      <th rowspan="2">飛行時間</th>
      <th colspan="2">単独又は機長</th>
      <th colspan="2">同乗教育</th>
      <th rowspan="2">飛行時間</th>
      <th colspan="2">単独又は機長</th>
      <th colspan="2">同乗教育</th>
    </tr>
    <tr>
      <th>ウインチ（自動車）曳航</th>
      <th>航空機曳航</th>
      <th>ウインチ（自動車）曳航</th>
      <th>航空機曳航</th>
      <th>動力</th>
      <th>滑空</th>
      <th>動力</th>
      <th>滑空</th>
    </tr>
    <!-- 一覧表（DBから取得） -->
    <%= render partial: "glider_flight", locals: { glider_flights: @glider_flights } %>
    <!-- まとめ表 -->
    <%= render 'show_page_total' %>  
  </table>
    <% else %>
      <p>登録されたフライトログがありません。</p>
    <% end %>
  </div>
</div>