<% provide(:title, '新しいフライト（滑空機）') %>
<% provide(:button_text, '登録する') %>

<div class="main">
  <h1>新しいフライトを作成（滑空機）</h1>
  <%= form_with(model: @glider_flight, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <h2>基本事項</h2>
    <div class="content-inner-block">
      <div class="input-field">
        <%= f.label :date, "出発日", class: 'label' %>
        <%= f.date_field :date, class: 'form-control' %>
      </div>
      <div class="input-field">
        <%= f.label :departure_and_arrival_point, "離着陸の区間", class: 'label' %>
        <%= f.text_field :departure_and_arrival_point, class: 'form-control' %>
      </div>
    </div>

    <h2>使用機体および曳航方式</h2>
    <div class="content-inner-block">
      <div class="check-box-element">
        <%= f.check_box :is_motor_glider, {}, true, false %>
        <%= f.label :is_motor_glider, "モーターグライダー", class: "check-label" %>
      </div>
      <div class="check-box-element">
        <%= f.check_box :is_power_flight, {}, true, false %>
        <%= f.label :is_power_flight, "動力フライト", class: "check-label"  %>
      </div>
      <div class="input-field">
        <%= f.label :glider_type, "航空機の型式", class: 'label' %>
        <%= f.collection_select :glider_type, @glider_type, :id, :aircraft_type, prompt: "航空機の型式を選択してください", class: 'form-control' %>
      </div>
      <div class="input-field">
        <%= f.label :glider_ident, "登録記号", class: 'label' %>
        <%= f.select :glider_ident, [["JA21MA", "JA21MA"], ["JA2381", "JA2381"]], include_blank: "登録記号を選択して下さい", class: 'form-control' %>
      </div>
      <h3>曳航タイプ</h3>
      <div class="radio-button-block">
        <div class="radio-element">
          <%= f.radio_button :is_winch, :true, checked: true %>
          <%= f.label :is_winch, "ウインチ曳航", value: true, class: "radio-label"  %>
        </div>
        <div class="radio-element">
          <%= f.radio_button :is_winch, :false %>
          <%= f.label :is_winch, "航空機曳航", value: false, class: "radio-label"  %>
        </div>
      </div>
    </div>

    <h2>操縦種別</h2>
    <div class="content-inner-block">
      <div class="radio-button-block">
        <div class="radio-element">
          <%= f.radio_button :flight_role, :"機長", checked: true, class: "radio-bnutton" %>
          <%= f.label :flight_role, "機長", value: :"機長", class: "radio-label" %>
        </div>
        <div class="radio-element">
          <%= f.radio_button :flight_role, :"単独飛行" %>
          <%= f.label :flight_role, "単独飛行", value: :"単独飛行", class: "radio-label" %>
        </div>
        <div class="radio-element">
          <%= f.radio_button :flight_role, :"同乗教育" %>
          <%= f.label :flight_role, "同乗教育", value: :"同乗教育", class: "radio-label" %>
        </div>
      </div>
      <div class="check-box-block">
        <div class="check-box-element">
          <%= f.check_box :is_instructor, {}, true, false %>
          <%= f.label :is_instructor, "操縦教員としてのフライト", class: "check-box-label" %>
        </div>
      </div>
    </div>

    <h2>フライトの詳細</h2>
    <div class="content-inner-block">
      <div class="input-field">
        <%= f.label :takeoff_time, "離陸時刻", class: 'label' %>
        <%= f.time_field :takeoff_time, class: 'form-control' %>
      </div>
      <div class="input-field">
        <%= f.label :landing_time, "着陸時刻", class: 'label' %>
        <%= f.time_field :landing_time, class: 'form-control' %>
      </div>
      <div class="input-field">
        <%= f.label :release_alt, "離脱高度", class: 'label' %>
        <%= f.number_field :release_alt, {value: 400, step: 10, class: 'form-control'} %>
      </div>
      <div class="input-field">
        <%= f.label :number_of_landing, "着陸回数", class: 'label' %>
        <%= f.number_field :number_of_landing, value: 1, class: 'form-control' %>
      </div>
      <div class="input-field">
        <%= f.label :note, "備考", class: 'label' %>
        <%= f.text_area :note, class: 'form-control' %>
      </div>
      <h3>飛行内容等</h3>
      <div class="check-box-block">
        <div class="check-box-element">
          <%= f.check_box :is_cross_country, {}, true, false %>
          <%= f.label :is_cross_country, "野外飛行" %>
        </div>
        <div class="check-box-element">
          <%= f.check_box :is_stall_recovery, {}, true, false %>
          <%= f.label :is_stall_recovery, "失速からの回復" %>
        </div>
      </div>
    </div>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>