<% provide(:title, '所属グループでのフライトを取得') %>
<% provide(:button_text, '登録する') %>

<div class="main">
  <h1>所属グループでのフライトを取得</h1>
  <%= form_with(model: @glider_flight, local: true) do |f| %>

  <% end %>

<%= form_with(model: current_user.group_users.build, local: true) do |f| %>
  <div><%= hidden_field_tag :group_id, params[:id] %></div>
  <%= f.submit "グループに参加", class: "btn btn-primary" %>
<% end %>




  <div class="logbook-table">
    <div class="logbook-header">




    </div>


    
<% glider_flights.each do |glider_flight| %>
  <div class="entire-row">
    <div class="logbook-data-row">
    </div>
  </div>
<% end %>


  </div>


  <%= form_with(model: @glider_flight, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
  <% end %>





</div>