<% provide(:title, "グループフライト") %>

<div class="create-group-form">
  <h1><%= "#{@current_group.name}のグループフライト" %></h1>
  <% if @glider_group_flights.any? %>
  <div class="display-flex">
    <%= form_with(url: glider_group_flights_path, method: :get, local: true) do |f| %>
      <div class="input-field">
        <%= f.label :date, "日付", class: 'label' %>
        <%= f.date_field :date, value: Date.today, class: 'form-control' %>
      </div>
      <%= f.submit value:"更新", class: 'button' %>
    </div>
    <% end %>
    <div class="logbook-table">
      <div class="logbook-header">
        <div class="departure-date-cell">日付</div>
        <div class="log-number-cell">発航<br>No.</div>
        <div class="departure-and-arrival-point-cell">航空機<br>の型式<br>および<br>登録記号</div>
        <div class="departure-and-arrival-point-cell">前席</div>
        <div class="departure-and-arrival-point-cell">後席</div>
        <div class="departure-date-cell">曳航タイプ</div>
        <div class="table-data">離陸<br>時刻</div>
        <div class="table-data">離脱<br>時刻</div>
        <div class="table-data">着陸<br>時刻</div>
        <div class="table-data">飛行<br>時間</div>
        <div class="table-data">離脱<br>高度</div>
        <div class="table-data">備考</div>
      </div>
      <% @glider_group_flights.each do |glider_group_flight| %>
        <%= link_to glider_group_flight_path(id: glider_group_flight.id), class:"link" do %> 
        <div class="entire-row">
          <div class="logbook-data-row">
            <div class="departure-date-cell"><%= glider_group_flight.date %></div>
            <div class="log-number-cell"><%= glider_group_flight.day_flight_number %></div>
            <div class="departure-and-arrival-point-cell"><%= show_aircraft(glider_group_flight.fleet) %></div>
            <div class="departure-and-arrival-point-cell"><%= show_user_name(glider_group_flight.front_seat) %></div>
            <div class="departure-and-arrival-point-cell"><%= show_user_name(glider_group_flight.rear_seat) %></div>
            <div class="departure-date-cell"><%= towing_way(glider_group_flight) %></div>
            <div class="table-data"><%= glider_group_flight.takeoff_time.strftime("%R") %></div>
            <div class="table-data"><%= glider_group_flight.release_time.strftime("%R") %></div>
            <div class="table-data"><%= glider_group_flight.landing_time.strftime("%R") %></div>
            <div class="table-data">飛行<br>時間</div>
            <div class="table-data"><%= glider_group_flight.release_alt %></div>
            <div class="table-data"><%= glider_group_flight.notes %></div>
          </div>
          <div class="edit-delete-link">
            <%= link_to "編集", edit_glider_group_flight_path(id: glider_group_flight.id) %>
            <%= link_to "削除", glider_group_flight, method: :delete, data: { confirm: "本当に削除しますか？" } %>
          </div> 
        </div>
        <% end %>
      <% end %>
      <p><%= link_to "新しいフライトを登録する", new_glider_group_flight_path %></p>
    </div>
    <% else %>
      <p>まだフライトログが登録されていません。</p>
      <p><%= link_to "新しいフライトを登録する", new_glider_group_flight_path %></p>
    <% end %>
</div>