<% provide(:title, '新しいグループフライト') %>
<% provide(:button_text, '登録する') %>

<div class="main">
  <h1>新しいグループフライトを作成</h1>
  <div class="display-flex">
    <button class="page-nav"><%= link_to "戻る", :back %></button>
  </div>
  <%= form_with(model: @glider_group_flight, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <h2>基本情報</h2>
    <div class="content-inner-block">
      <!-- 裏処理用データ -->
      <%= f.hidden_field :group, value: @glider_group_flight.group_id %> 
      <%= f.hidden_field :day_flight_number, value: day_flight_number %>
      <%= f.hidden_field :creator, value: current_user.id %>
      <%= f.hidden_field :updater, value: current_user.id %>
      <!-- 基本情報 -->
      <div class="input-field">
        <%= f.label :date, "日付", class: 'label' %>
        <%= f.date_field :date, value: Date.today, class: 'form-control' %>
      </div>
      <div class="input-field">
        <%= f.label :departure_and_arrival_point, "離着陸の区間", class: 'label' %>
        <%= f.text_field :departure_and_arrival_point, class: 'form-control' %>
      </div>
    </div>

    <h2>使用機体および曳航方式</h2>
    <div class="content-inner-block">
      <div class="check-box-element">
        <%= f.check_box :is_motor_glider, {}, true, false %>
        <%= f.label :is_motor_glider, "モーターグライダー", class: "check-label"  %>
      </div>
      <div class="input-field">
        <%= f.label :glider_type, "航空機の型式", class: 'label' %>
        <%= f.select :glider_type, ["ASK21", "ASK23b"], include_blank: "航空機の型式を選択して下さい", class: 'form-control' %>
      </div>
      <div class="input-field">
        <%= f.label :glider_ident, "登録記号", class: 'label' %>
        <%= f.select :glider_ident, ["JA21MA", "JA2381"], include_blank: "登録記号を選択して下さい", class: 'form-control' %>
      </div>
      <h3>曳航タイプ</h3> 
      <div class="radio-button-block">
        <div class="radio-element">
          <%= f.radio_button :is_winch, true, checked: true %>
          <%= f.label :is_winch, "ウインチ曳航", class: "radio-label"  %>
        </div>
        <div class="radio-element">
          <%= f.radio_button :is_winch, false %>
          <%= f.label :is_winch, "航空機曳航", class: "radio-label"  %>
        </div>
      </div>
    </div>
    <h2>搭乗者情報</h2>
    <div class="content-outer-block">
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :front_seat, "前席搭乗者", class: 'label' %>
          <%= f.collection_select :front_seat, @group_members, :id, :name, prompt: "搭乗者を選択してください", class: 'form-control' %>
        </div>
        <h3>前席属性</h3>
        <div class="radio-button-block">
          <div class="radio-element">
            <%= f.radio_button :front_flight_role, "機長", checked: true, class: "radio-bnutton" %>
            <%= f.label :front_flight_role, "機長", class: "radio-label" %>
          </div>
          <div class="radio-element">
            <%= f.radio_button :front_flight_role, "単独飛行" %>
            <%= f.label :front_flight_role, "単独飛行", class: "radio-label" %>
          </div>
          <div class="radio-element">
            <%= f.radio_button :front_flight_role, "同乗教育", checked: true %>
            <%= f.label :front_flight_role, "同乗教育", class: "radio-label" %>
          </div>
          <div class="radio-element">
            <%= f.radio_button :front_flight_role, "教官" %>
            <%= f.label :front_flight_role, "教官", class: "radio-label" %>
          </div>
          <div class="radio-element">
            <%= f.radio_button :front_flight_role, "ログ対象外" %>
            <%= f.label :front_flight_role, "ログ対象外", class: "radio-label" %>
          </div>
        </div>
      </div>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :rear_seat, "後席搭乗者", class: 'label' %>
          <%= f.collection_select :rear_seat, @group_members, :id, :name, prompt: "搭乗者を選択してください", class: 'form-control' %>
        </div>
        <h3>後席属性</h3>
        <div class="radio-button-block">
          <div class="radio-element">
            <%= f.radio_button :rear_flight_role, "機長", checked: true, class: "radio-bnutton" %>
            <%= f.label :rear_flight_role, "機長", value: :"機長", class: "radio-label" %>
          </div>
          <div class="radio-element">
            <%= f.radio_button :rear_flight_role, "同乗教育" %>
            <%= f.label :rear_flight_role, "同乗教育", value: :"同乗教育", class: "radio-label" %>
          </div>
          <div class="radio-element">
            <%= f.radio_button :rear_flight_role, "教官", checked: true %>
            <%= f.label :rear_flight_role, "教官", value: :"教官", class: "radio-label" %>
          </div>
          <div class="radio-element">
            <%= f.radio_button :rear_flight_role, "ログ対象外" %>
            <%= f.label :rear_flight_role, "ログ対象外", class: "radio-label" %>
          </div>
        </div>
      </div>
    </div>

    <h2>飛行時間等</h2>
    <div class="content-inner-block">
      <div class="input-field">
        <%= f.label :takeoff_time, "離陸時刻", class: 'label' %>
        <%= f.time_field :takeoff_time, class: 'form-control' %>
      </div>
      <div class="input-field">
        <%= f.label :release_time, "離脱時刻", class: 'label' %>
        <%= f.time_field :release_time, class: 'form-control' %>
      </div>
      <div class="input-field">
        <%= f.label :landing_time, "着陸時刻", class: 'label' %>
        <%= f.time_field :landing_time, class: 'form-control' %>
      </div>
      <div class="input-field">
        <%= f.label :release_alt, "離脱高度", class: 'label' %>
        <%= f.number_field :release_alt, class: 'form-control' %>
      </div>
    </div>

    <h2>その他</h2>
    <div class="content-outer-block">
      <div class="input-field">
        <%= f.label :notes, "備考", class: 'label' %>
        <%= f.text_area :notes, class: 'form-control' %>
      </div>
    </div>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>
