<%
=begin%>
 <% provide(:title, 'グループフライトの詳細') %>

<div class="main">
  <h1>フライトの詳細</h1>
  <div class="display-flex">
    <button class="page-nav"><%= link_to "戻る", 'javascript:history.back()' %></button>
    <button class="page-nav"><%= link_to "編集", edit_glider_group_flight_path(id: params[:id]) %></button>
  </div>
  <div class="content-outer-block">
      <p>日付<span class="value"><%= @glider_group_flight.date.strftime("%Y年%-m月%-d日 ") %></span></p>
      <p>発航No.<span class="value"><%= @glider_group_flight.day_flight_number %></span></p>
      <p>離着陸の区間<span class="value"><%= @glider_group_flight.departure_and_arrival_point %></span></p>
      <p>使用機体：<span class="value"><%= show_aircraft(@glider_group_flight.fleet) %></span></p>
      <p>離着陸の区間：<span class="value"><%= @glider_group_flight.departure_and_arrival_point %></span></p>
    <div class="content-inner-block">
      <p>離陸時刻：<span class="value"><%= @glider_group_flight.takeoff_time.strftime("%R") %></span></p>
      <p>着陸時刻：<span class="value"><%= @glider_group_flight.landing_time.strftime("%R") %></span></p>
      <p>離脱高度：<span class="value"><%= @glider_group_flight.release_alt %></span></p>
    </div>
    <div class="content-inner-block">
      <div class="display-flex">
        <p>前席搭乗者：<span class="value"><%= show_user_name(@glider_group_flight.front_seat) %></span></p>
        <p>区分：<span class="value"><%= @glider_group_flight.front_flight_role %></span></p>
      </div>
      <div class="display-flex">
        <p>後席搭乗者：<span class="value"><%= show_user_name(@glider_group_flight.rear_seat) %></span></p>
        <p>区分：<span class="value"><%= @glider_group_flight.rear_flight_role %></span></p>
      </div>
      <p>曳航方式：<span class="value"><%= show_flight_info(@glider_group_flight.is_winch, 'winch') %></span></p>
      <p>補足事項：<span class="value"><%= @glider_group_flight.notes %></span></p>
    </div>
    <div class="display-flex">
      <p>記録者：<span class="value"><%= show_user_name(@glider_group_flight.creator) %></span></p>
      <p>記録日時：<span class="value"><%= @glider_group_flight.created_at.strftime("%Y年%-m月%-d日 %R") %></span></p>
    </div>
    <div class="display-flex">
      <p>更新者：<span class="value"><%= show_user_name(@glider_group_flight.updater) %></span></p>
      <p>更新日時：<span class="value"><%= @glider_group_flight.updated_at.strftime("%Y年%-m月%-d日 %R") %></span></p>
    </div>
  </div>
</div> 
<%
=end%>

<% provide(:title, 'グループフライト詳細') %>
<% @user ||= current_user %>

<div class="mx-auto px-4">
  <div class="flex flex-row px-4">
    <%= link_to :back do %>
      <i class="fa-solid fa-angle-left fa-2x pr-4"></i>
    <% end %>
    <div class="flex flex-col">
      <div class="text-2xl font-bold pr-4"><%= @user.name %></div>
    </div>
  </div>

  <div class="max-w-screen-2xl bg-white shadow py-6 sm:py-8 lg:py-12 px-4 md:px-8 mx-auto my-4 border rounded-lg flex-col">
    <div class="bg-white shadow py-6 sm:py-8 lg:py-12 px-4 md:px-8 mx-auto my-4 border rounded-lg flex-col justify-center p-4 md:p-8">
      <div>
        <%= @glider_group_flight.date %>
      </div>
      <div>
        <%= show_aircraft(@glider_group_flight.fleet) %>
      </div>
      <div>
        <%= show_user_name(@glider_group_flight.front_seat) %>
      </div>
      <div>
        <%= show_user_name(@glider_group_flight.rear_seat) if !@glider_group_flight.rear_seat.nil? %>
      </div>
      <div>
        <%= towing_way(@glider_group_flight) %>
      </div>

      <p class='mt-3 font-bold inline-block text-gray-800 text-sm sm:text-base mb-2'>操縦区分</p>
      <div class="flex">
        <div class="inline-block align-middle mx-5">
          <%= @glider_group_flight.takeoff_time.strftime("%R") %>
        </div>
        <i class="fa-solid fa-plane-departure fa-lg inline-block align-middle"></i>
        <div class="flex-col inline-block align-middle mx-5">
          <div>
            <%= @glider_group_flight.release_alt %>
          </div>
          <div>
            <%= @glider_group_flight.release_time.strftime("%R") %>
          </div>
        </div>
        <i class="fa-solid fa-plane-arrival fa-lg inline-block align-middle"></i>
        <div class="mx-5 inline-block align-middle">
          <%= @glider_group_flight.landing_time.strftime("%R") %>
        </div>
      </div>

      <div>
        <%= @glider_group_flight.notes %>
      </div>

      <div class="flex justify-center">
        <div>
          <%= link_to edit_glider_group_flight_path(@glider_group_flight) do %>
            <%= render partial: "shared/button", locals: {item: '編集'} %>
          <% end %>
        </div>
        <div>
          <%= link_to glider_group_flight_path(@glider_group_flight), method: :delete, data: { confirm: "本当に削除しますか？" } do %>
            <%= render partial: "shared/button", locals: {item: '削除'} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
