<% provide(:title, '過去のフライト記録を編集') %>
<% provide(:button_text, '修正する') %>

<div class="main">
  <h1>過去のフライト記録を編集</h1>
  <div class="display-flex">
    <button class="page-nav"><%= link_to "戻る", 'javascript:history.back()' %></button>
  </div>
  <%= form_with(model: @glider_initial_log, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="content-outer-block">
      <!-- 動力滑空機による時間 -->
      <h2>滑空機による飛行時間</h2>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :non_power_total_time, "総飛行時間", class: 'label' %>
          <%= f.number_field :non_power_total_time, class: 'form-control' %>
        </div>
        <div class="input-field">
          <%= f.label :non_power_total_number, "総飛行回数", class: 'label' %>
          <%= f.number_field :non_power_total_number, class: 'form-control' %>
        </div>
      </div>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :pic_winch_time, "ウインチ曳航による機長時間", class: 'label' %>
          <%= f.number_field :pic_winch_time, class: 'form-control' %>
        </div>
        <div class="input-field">
          <%= f.label :pic_winch_number, "ウインチ曳航による機長回数", class: 'label' %>
          <%= f.number_field :pic_winch_number, class: 'form-control' %>
        </div>
      </div>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :pic_aero_tow_time, "航空機曳航による機長時間", class: 'label' %>
          <%= f.number_field :pic_aero_tow_time, class: 'form-control' %>
        </div>
        <div class="input-field">
          <%= f.label :pic_aero_tow_number, "航空機曳航による機長回数", class: 'label' %>
          <%= f.number_field :pic_aero_tow_number, class: 'form-control' %>
        </div>
      </div>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :solo_winch_time, "ウインチ曳航による単独飛行時間", class: 'label' %>
          <%= f.number_field :solo_winch_time, class: 'form-control' %>
        </div>
        <div class="input-field">
          <%= f.label :solo_winch_number, "ウインチ曳航による単独飛行回数", class: 'label' %>
          <%= f.number_field :solo_winch_number, class: 'form-control' %>
        </div>
      </div>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :solo_aero_tow_time, "航空機曳航による単独飛行時間", class: 'label' %>
          <%= f.number_field :solo_aero_tow_time, class: 'form-control' %>
        </div>
        <div class="input-field">
          <%= f.label :solo_aero_tow_number, "航空機曳航による単独飛行回数", class: 'label' %>
          <%= f.number_field :solo_aero_tow_number, class: 'form-control' %>
        </div>
      </div>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :dual_winch_time, "ウインチ曳航による同乗教育時間", class: 'label' %>
          <%= f.number_field :dual_winch_time, class: 'form-control' %>
        </div>
        <div class="input-field">
          <%= f.label :dual_winch_number, "ウインチ曳航による同乗教育回数", class: 'label' %>
          <%= f.number_field :dual_winch_number, class: 'form-control' %>
        </div>
      </div>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :dual_aero_tow_time, "航空機曳航による同乗教育時間", class: 'label' %>
          <%= f.number_field :dual_aero_tow_time, class: 'form-control' %>
        </div>
        <div class="input-field">
          <%= f.label :dual_aero_tow_number, "航空機曳航による同乗教育回数", class: 'label' %>
          <%= f.number_field :dual_aero_tow_number, class: 'form-control' %>
        </div>
      </div>
    </div>
    <!-- 動力滑空機による時間 -->
    <div class="content-outer-block">
      <h2>動力滑空機による飛行時間</h2>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :power_total_time, "総飛行時間", class: 'label' %>
          <%= f.number_field :power_total_time, class: 'form-control' %>
        </div>
        <div class="input-field">
          <%= f.label :power_total_number, "総飛行回数", class: 'label' %>
          <%= f.number_field :power_total_number, class: 'form-control' %>
        </div>
      </div>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :pic_power_time, "動力による機長時間", class: 'label' %>
          <%= f.number_field :pic_power_time, class: 'form-control' %>
        </div>
        <div class="input-field">
          <%= f.label :pic_power_number, "動力による機長回数", class: 'label' %>
          <%= f.number_field :pic_power_number, class: 'form-control' %>
        </div>
      </div>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :pic_power_off_time, "滑空による機長時間", class: 'label' %>
          <%= f.number_field :pic_power_off_time, class: 'form-control' %>
        </div>
        <div class="input-field">
          <%= f.label :pic_power_off_number, "滑空による機長回数", class: 'label' %>
          <%= f.number_field :pic_power_off_number, class: 'form-control' %>
        </div>
      </div>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :solo_power_time, "動力による単独飛行時間", class: 'label' %>
          <%= f.number_field :solo_power_time, class: 'form-control' %>
        </div>
        <div class="input-field">
          <%= f.label :solo_power_number, "動力による単独飛行回数", class: 'label' %>
          <%= f.number_field :solo_power_number, class: 'form-control' %>
        </div>
      </div>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :solo_power_off_time, "滑空による単独飛行時間", class: 'label' %>
          <%= f.number_field :solo_power_off_time, class: 'form-control' %>
        </div>
        <div class="input-field">
          <%= f.label :solo_power_off_number, "滑空による単独飛行回数", class: 'label' %>
          <%= f.number_field :solo_power_off_number, class: 'form-control' %>
        </div>
      </div>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :dual_power_time, "動力による同乗教育時間", class: 'label' %>
          <%= f.number_field :dual_power_time, class: 'form-control' %>
        </div>
        <div class="input-field">
          <%= f.label :dual_power_number, "動力よる同乗教育回数", class: 'label' %>
          <%= f.number_field :dual_power_number, class: 'form-control' %>
        </div>
      </div>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :dual_power_off_time, "滑空による同乗教育時間", class: 'label' %>
          <%= f.number_field :dual_power_off_time, class: 'form-control' %>
        </div>
        <div class="input-field">
          <%= f.label :dual_power_off_number, "滑空による同乗教育回数", class: 'label' %>
          <%= f.number_field :dual_power_off_number, class: 'form-control' %>
        </div>
      </div>
    </div>
    <!-- その他の時間 -->
    <div class="content-outer-block">
      <h2>その他の飛行時間</h2>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :cross_country_time, "野外飛行時間", class: 'label' %>
          <%= f.number_field :cross_country_time, class: 'form-control' %>
        </div>
      </div>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :instructor_time, "操縦教員としての時間", class: 'label' %>
          <%= f.number_field :instructor_time, class: 'form-control' %>
        </div>
        <div class="input-field">
          <%= f.label :instructor_number, "操縦教員としての飛行回数", class: 'label' %>
          <%= f.number_field :instructor_number, class: 'form-control' %>
        </div>
      </div>
      <div class="content-inner-block">
        <div class="input-field">
          <%= f.label :number_of_stall_recovery, "「失速からの回復」実施回数", class: 'label' %>
          <%= f.number_field :number_of_stall_recovery, class: 'form-control' %>
        </div>
      </div>
  </div>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
</div>
