<div class="twitter_block">
  <figure>
    <img src="app/assets/icon.png" />
  </figure>
  <div class="twitter_block-text">
    <div class="name"><%= micropost.user.name %><span class="name_reply">@t_kyab</span></div>
    <div class="date"><%= time_ago_in_words(micropost.created_at) %></div> 
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <% end %>
    <div class="text">
      <%= micropost.content %>
      <div class="in-pict">
        <%= image_tag micropost.display_image if micropost.image.attached? %>
      </div>
    </div>
    <div class="micropost_actions">
      <div class="micropost_action_block">
        <i class="fa-solid fa-comment"></i>
        <span>1</span>
      </div>
      <div class="micropost_action_block">
        <i class="fa-solid fa-retweet"></i>
        <span>14</span>
      </div>
      <div class="micropost_action_block">
        <i class="fa-solid fa-thumbs-up"></i>
        <span>122</span>
      </div>
    </div>
  </div>
</div> 
