<div class="name"><%= micropost.user.name %><span class="name_reply">@t_kyab</span></div>
<div class="date"><%= time_ago_in_words(micropost.created_at) %></div>   
<% if current_user?(micropost.user) %>
  <%= link_to "delete", micropost, method: :delete, data: { confirm: "本当に削除しますか？" } %>
<% end %>
<% if micropost.replying_micropost? %>
<% replied_microposts = micropost.get_replied_microposts %>
  <% replied_microposts.each do |replied_micropost| %>
    <% if replied_micropost != micropost%>
      <div class="reply-to">返信先：<%= link_to "@#{replied_micropost.user.name}さん", user_path(id: replied_micropost.user.id) %></div>
    <% end %>
  <% end %>
<% end %>
<%= render partial: 'microposts/micropost_content', locals: { micropost: micropost } %>
<% if micropost.is_flight_attached %>
  <%= render partial: 'microposts/flight_card', locals: { micropost: micropost } %>
<% end %>

 <%= render partial: 'microposts/micropost_action', locals: { micropost: micropost } %> 
