<%= link_to micropost_path(id: micropost.id) do %>
  <div class="px-5 py-4 my-2 bg-white dark:bg-gray-800 shadow rounded-lg w-full">
    <div class="flex mb-4">
      <img class="w-12 h-12 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"/>
      <div class="ml-2 mt-0.5">
        <span class="block font-medium text-base leading-snug text-black dark:text-gray-100">
          <%= micropost.user.name %>
        </span>
        <span class="block text-sm text-gray-500 dark:text-gray-400 font-light leading-snug">
          <%= time_ago_in_words(micropost.created_at) %>
        </span>
      </div>
    </div>
    <!-- 返信ツイートの場合は返信先を表示する -->
    <% if micropost.replying_micropost? %>
      <% replied_microposts = micropost.get_replied_microposts %>
      <% replied_microposts.each do |replied_micropost| %>
        <% if replied_micropost != micropost%>
          <div class="reply-to">返信先：<%= link_to "@#{replied_micropost.user.name}さん", user_path(id: replied_micropost.user.id) %></div>
        <% end %>
      <% end %>
    <% end %>

    <!-- シェアツイートの場合は元ツイートを表示する -->
    <% if micropost.is_sharing_micropost? %>
      <i class="fa-solid fa-retweet"></i>
      <span class="name_reply"><%= micropost.user.name %>さんがシェアしました</span>
      <% if current_user?(micropost.user) %>
        <%= link_to "delete", micropost, method: :delete, data: { confirm: "本当に削除しますか？" } %>
      <% end %>
      <% if !micropost.content.nil? %>
        <p class="text-gray-800 dark:text-gray-100 leading-snug md:leading-normal">
          <%= render partial: 'microposts/micropost_content', locals: { micropost: micropost } %>
        </p> 
      <% end %>
      <%= render partial: 'microposts/shared_micropost', locals: { micropost: micropost } %>
    <!-- 返信でもシェアでもない場合 -->
    <% else %>
      <p class="text-gray-800 dark:text-gray-100 leading-snug md:leading-normal">
        <%= render partial: 'microposts/micropost_content', locals: { micropost: micropost } %>
      </p> 
    <% end %>
    <!-- シェアしたフライトを表示する -->
    <% if micropost.is_flight_attached %>
      <%= render partial: 'microposts/flight_card', locals: { micropost: micropost } %>
    <% end %>
    <!-- アクションボタン -->
    <div class="flex justify-between items-center mt-5">
      <%= render partial: 'microposts/micropost_action', locals: { micropost: micropost } %> 
      <% if current_user?(micropost.user) %>
        <%= link_to "delete", micropost, method: :delete, data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </div>  
  </div>
<% end %>
