<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Sample App</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <% if user_signed_in? %>
      <div class="relative group">
        <div class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
          <%= current_user.name %>
          <i class="fa-solid fa-arrow-down ml-4"></i>
        </div> 
        <div class="absolute invisible group-hover:visible bg-white shadow rounded w-full px-3 py-1"> 
          <%= link_to edit_user_registration_path(current_user.id) do %>
          <div class="flex py-1 hover:bg-gray-100">
            <i class="fa-regular fa-user my-1"></i>
            <div class="ml-2">プロフィール</div>
          </div>
          <% end %>
          <%= link_to edit_user_registration_path(current_user.id) do %>
          <div class="flex py-1 hover:bg-gray-100">
            <i class="fa-regular fa-address-card"></i>
            <div class="ml-2">アカウント</div>
          </div>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <div class="flex py-1 hover:bg-gray-100">
            <i class="fa-solid fa-right-from-bracket"></i>
            <div class="ml-2">ログアウト</div>
          </div>
          <% end %>
        </div>
      </div>
      <% else %>
        <%= link_to "Hanger Talkとは？", about_path, class: "mr-5 hover:text-gray-900" %>
        <%= link_to "よくある質問", faq_path, class: "mr-5 hover:text-gray-900" %>
        <%= link_to "お問合せ", inquiry_path, class: "mr-5 hover:text-gray-900" %>
        <%= yield :header_action %>
      <% end %>
    </nav>
  </div>
</header>

