<% if user_signed_in? %>
  <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
  <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"> 

<!-- ボーダー（始まり） -->
<div class="w-full border-b-2 lg:border-none border-gray-200 py-2 mx-auto"></div>
<div class="w-full py-2 mx-auto"></div>
<!-- ボーダー（終わり） -->
<div class="bg-gray-100">
  <div class="w-full px-4">
  <!-- ユーザーカード -->
    <%= render partial: "layouts/sidebar_user_card" %>
    <!-- サイドバーメニュー -->
    <div class="py-8 px-4">
      <ul class="space-y-2">
        <li>
          <%= link_to @current_user do %>
            <div class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg  hover:bg-gray-100 ">
              <i class="fa-solid fa-house-user"></i>
              <span class="ml-3">ダッシュボード</span>
            </div> 
          <% end %>
        </li>
        <li>
          <%= link_to microposts_path() do %>
            <div class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 ">
              <i class="fa-solid fa-comments"></i>
              <span class="ml-3">フィード</span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to user_licenses_path(@current_user) do %>
            <div class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg  hover:bg-gray-100 ">
              <i class="fa-solid fa-id-card"></i>
              <span class="ml-3">保有ライセンス管理</span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to glider_flights_path do %>
            <div class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg  hover:bg-gray-100 ">
              <i class="fa-solid fa-book-open"></i>
              <span class="ml-3">フライトログブック</span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to groups_path do %>
            <div class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg  hover:bg-gray-100 ">
              <i class="fa-solid fa-user-group"></i>
              <span class="ml-3">フライトクラブ</span>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<% end %>