<% provide(:title, 'フライトの編集') %>
<% provide(:button_text, '更新する') %>
<% @user ||= current_user %>

<div class="max-w-screen-sm bg-white shadow py-3 px-4 mx-auto my-4 border border-gray-200 rounded-lg flex-col">
  <%= form_with(model: @gliderflight, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="bg-white shadow py-3 px-4 mx-auto my-4 border border-gray-300 rounded-lg flex-col justify-center p-4 md:p-8">
      <div class="py-4 px-6 text-gray-800">
        <!-- フライト情報 -->
        <div class="py-4 px-6 text-gray-800">
          <p class="text-xl font-bold text-center underline">フライト内容</p>
        <!-- 出発日 -->
        <div class="flex md:flex-row flex-col justify-center">
          <div class="flex flex-col">
            <%= f.label :date, "出発日", class: 'mt-3 font-bold inline-block text-gray-800 text-sm sm:text-base mb-2' %>
            <%= f.date_field :date, autofocus: true, autocomplete: "date_of_issue", class: 'w-36 bg-gray-50 text-gray-800 border focus:ring ring-indigo-500 rounded outline-none transition duration-100 px-3 py-2' %>
          </div>
          <!-- 搭乗機体 -->
          <div class="flex md:flex-row flex-col md:ml-4">
            <div class="flex flex-col">
              <%= f.label :aircraft_type_id, "航空機の型式", class: 'mt-3 font-bold inline-block text-gray-800 text-sm sm:text-base mb-2' %>
              <%= f.collection_select :aircraft_type_id, @glider_type, :id, :aircraft_type, prompt: "選択してください", class: 'bg-gray-100 text-gray-800 border focus:ring ring-indigo-500 rounded outline-none transition duration-100 px-3 py-2' %>
            </div>
            <div class="flex flex-col md:ml-2">
              <%= f.label :glider_ident, "登録記号", class: 'mt-3 font-bold inline-block text-gray-800 text-sm sm:text-base mb-2' %>
              <%= f.select :glider_ident, [["JA21MA", "JA21MA"], ["JA2381", "JA2381"]], include_blank: "選択してください", class: 'w-30 bg-gray-100 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2' %>
            </div>
          </div>
        </div>

        <div class="flex md:flex-row flex-col md:justify-evenly mt-4"> 
          <!-- 離陸情報 -->
          <div class="flex-col mx-2 my-auto mx-auto">
            <div class="flex">
              <div class="text-base font-bold">
                FROM
              </div>
              <div class="text-xs my-auto">
                （出発地を入力）
              </div>
            </div>
            <div>
              <%= f.text_field :departure_point, autofocus: true, autocomplete: "name", class: 'w-30 text-gray-800 text-base border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-2 py-1' %>
            </div>
            <div class="flex justify-center mt-2">
              <i class="fa-solid fa-plane-departure my-auto fa-lg"></i>
              <%= f.time_field :takeoff_time, value: @gliderflight.takeoff_time.strftime("%R"), class: 'w-50 ml-4 text-base text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-2 py-1' %>
            </div>
          </div>

          <!-- 着陸情報 -->
          <div class="flex flex-row md:flex-col md:my-0 my-4"> 
            <div class="flex-col text-center my-auto">
              <div class="flex flex-col">
                <p class="text-xs text-center">離脱高度</p>
                <%= f.number_field :release_alt, {value: 400, step: 10, class: 'w-16 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-2 py-1 mx-auto'} %>
              </div>
            </div>

            <div class="flex justify-center mx-auto my-4"> 
              <i class="fa-solid fa-plane fa-lg my-auto md:rotate-0 rotate-90"></i>
            </div> 

            <div class="flex-col text-center my-auto">
              <div class="flex flex-col">
                <%= f.number_field :number_of_landing, class: 'w-16 text-gray-800 text-base border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-2 py-1 mx-auto order-2 md:order-1' %>
                <p class="text-xs text-center order-1 md:order-2">着陸回数</p>
              </div>
            </div>
          </div>


          <!-- 着陸情報 -->
          <div class="flex-col mx-2 my-auto mx-auto">
            <div class="flex">
              <div class="text-base font-bold">
                TO
              </div>
              <div class="text-xs my-auto">
                （到着地を入力）
              </div>
            </div>
            <%= f.text_field :arrival_point, autofocus: true, autocomplete: "name", class: 'w-30 text-gray-800 text-base border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-2 py-1' %>
            <div class="flex justify-center mt-2">
              <%= f.time_field :landing_time, value: @gliderflight.landing_time.strftime("%R"), class: 'w-50 mr-4  text-gray-800 text-base border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-2 py-1 md:order-1 order-2 md:ml-2' %>
              <i class="fa-solid fa-plane-arrival my-auto md:mr-0 mr-4 fa-lg md:order-2 order-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <!-- 補足情報 -->
    <div class="px-4">
      <p class='mt-3 font-bold inline-block text-gray-800 text-sm sm:text-base mb-2'>曳航タイプ</p>
      <div class="flex">
        <div class="ml-3">
          <%= f.radio_button :is_winch, :true, checked: true, class: "form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" %>
          <%= f.label :is_winch, "ウインチ曳航", value: true, class: 'cursor-pointer inline-block text-gray-800 text-sm sm:text-base mb-2' %>
        </div>
        <div class="ml-3">
          <%= f.radio_button :is_winch, :false, class: "form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" %>
          <%= f.label :is_winch, "航空機曳航", value: false, class: 'cursor-pointer inline-block text-gray-800 text-sm sm:text-base mb-2'  %>
        </div>
      </div>
      <p class='mt-3 font-bold inline-block text-gray-800 text-sm sm:text-base mb-2'>操縦区分</p>
      <div class="flex">
        <div class="ml-3">
          <%= f.radio_button :flight_role, :"機長", checked: true, class: "form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" %>
          <%= f.label :flight_role, "機長", value: :"機長", class: 'cursor-pointer inline-block text-gray-800 text-sm sm:text-base mb-2' %>
        </div>
        <div class="ml-3">
          <%= f.radio_button :flight_role, :"単独飛行", class: "form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" %>
          <%= f.label :flight_role, "単独飛行", value: :"単独飛行", class: 'cursor-pointer inline-block text-gray-800 text-sm sm:text-base mb-2' %>
        </div>
        <div class="ml-3">
          <%= f.radio_button :flight_role, :"同乗教育", class: "form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" %>
          <%= f.label :flight_role, "同乗教育", value: :"同乗教育", class: 'cursor-pointer inline-block text-gray-800 text-sm sm:text-base mb-2' %>
        </div>
        <div class="ml-3">
          <%= f.check_box :is_instructor, {}, true, false %>
          <%= f.label :is_instructor, "操縦教員としてのフライト", class: "cursor-pointer inline-block text-gray-800 text-sm sm:text-base mb-2" %>
        </div> 
      </div>

      <p class='mt-3 font-bold inline-block text-gray-800 text-sm sm:text-base mb-2'>フライト内容</p>
      <div class="flex">
        <div class="ml-3">
          <%= f.check_box :is_cross_country, {}, true, false %>
          <%= f.label :is_cross_country, "野外飛行", class: "cursor-pointer inline-block text-gray-800 text-sm sm:text-base mb-2" %>
        </div>
        <div class="ml-3">
          <%= f.check_box :is_stall_recovery, {}, true, false %>
          <%= f.label :is_stall_recovery, "失速からの回復", class: "cursor-pointer inline-block text-gray-800 text-sm sm:text-base mb-2" %>
        </div>
      </div>
      <div>
        <%= f.label :note, "備考", class: 'mt-3 font-bold inline-block text-gray-800 text-sm sm:text-base mb-2' %>
        <%= f.text_area :note, class: 'w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2' %>
      </div>
    </div>
    <div class="flex justify-center">
      <%= f.submit yield(:button_text), class: "cursor-pointer mt-4 block bg-indigo-700 hover:bg-indigo-600 active:bg-indigo-500 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %>
    </div>
  <% end %>
</div> 
