<% content_for :header_action do %>
  <%= link_to new_user_registration_path do %>
    <%= render partial: 'shared/header_action', locals: { item: 'アカウント登録' } %>
  <% end %>
  <%= link_to new_user_session_path do %>
    <%= render partial: 'shared/header_action', locals: { item: 'ログイン' } %>
  <% end %>
<% end %>

<main>
  <!-- ヘッダー -->
  <div class="flex flex-col cover lg:relative">
    <%= image_tag 'top_cover.jpg' %>
    <div class="lg:absolute lg:top-1/2 lg:left-3/4 lg:-translate-y-1/2 lg:-translate-x-1/2 max-w-3xl bg-white border border-gray-300 rounded-lg shadow-lg mx-auto">
      <div class="flex flex-col gap-4 p-4 md:p-8 mt-4 md:mt-0">
        <%= link_to new_user_registration_path do %>
          <%= render partial: 'shared/button', locals: { item: 'アカウント登録' } %>
        <% end %>
        <%= link_to new_user_session_path do %>
          <%= render partial: 'shared/button', locals: { item: 'ログイン' } %>
        <% end %>
        <!-- ボーダー（始まり） -->
        <div class="w-full border-b-2 border-gray-300 py-2 mx-auto"></div>
        <!-- ボーダー（終わり） -->
        <%= link_to users_guest_sign_in_path, method: :post do %>
          <div class="block bg-gray-800 hover:bg-gray-700 active:bg-gray-600 focus-visible:ring ring-gray-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3 mt-3">
            ゲストログイン（閲覧用）
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- コンテンツ -->
  <div class="flex justify-evenly">
    <div class="">
      aaaa
    </div>
    <div class="">
      aaaa
    </div>
    <div class="">
      aaaa
    </div>
  </div>
</main>
