    <%
=begin%>
 <header class="header">
      <div class="header-container">
        <%= link_to "Hanger Talk", root_path, id: "logo" %>
        <nav class="header-nav">
          <ul class="header-nav-list">
          <% if logged_in? %>
            <li><%= link_to "ホーム", root_path %></li>
            <li><%= link_to "通知", "#" %></li>
            <li><%= link_to "メッセージ", "#" %></li>
            <li><a href="#">アカウント</a>
              <ul>
              <li><%= link_to "プロフィール", current_user %></li>
                <li><%= link_to "ユーザー登録情報確認・変更", edit_user_path(current_user) %></li>
                <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
              </ul>
            </li>
            <li><%= link_to "よくある質問", faq_path %></li>
          <% else %>
            <li><%= link_to "ログイン", login_path %></li>
            <li><%= link_to "Hanger Talkとは？", about_path %></li>
            <li><%= link_to "よくある質問", faq_path %></li>
            <li><%= link_to "お問合せ", inquiry_path %></li>
          <% end %>
          </ul>
        </nav>
      </div>
    </header> 
<%
=end%>

 <%
=begin%>
 <<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Hanger Talk</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <% if logged_in? %>
      <div class="relative group bg-red-100">
        <div>株木 達郎</div>
        <div class="absolute invisible group-hover:visible bg-green-100">
          <><%= link_to "ホーム", root_path, class: "mr-5 hover:text-gray-900" %></li>
        </div>
      </div>
      <% else %>
        <%= link_to "Hanger Talkとは？", root_path, class: "mr-5 hover:text-gray-900" %>
        <%= link_to "よくある質問", root_path, class: "mr-5 hover:text-gray-900" %>
        <%= link_to "お問合せ", root_path, class: "mr-5 hover:text-gray-900" %>
      <% end %>
    </nav>
    <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">ログイン
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>  
<%
=end%>

<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Sample App</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <% if user_signed_in? %>
      <div class="relative group">
        <div class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
          <%= current_user.name %>
          <i class="fa-solid fa-arrow-down ml-4"></i>
        </div> 
        <div class="absolute invisible group-hover:visible bg-white shadow rounded w-full px-3 py-1"> 
          <%= link_to edit_user_registration_path(current_user.id) do %>
          <div class="flex py-1">
            <i class="fa-regular fa-user my-1"></i>
            <div class="ml-2">プロフィール</div>
          </div>
          <% end %>
          <%= link_to edit_user_registration_path(current_user.id) do %>
          <div class="flex py-1">
            <i class="fa-regular fa-address-card"></i>
            <div class="ml-2">アカウント</div>
          </div>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <div class="flex py-1">
            <i class="fa-regular fa-right-from-bracket"></i>
            <div class="ml-2">ログアウト</div>
          </div>
          <% end %>
        </div>
      </div>
      <% else %>
        <%= link_to "Hanger Talkとは？", about_path, class: "mr-5 hover:text-gray-900" %>
        <%= link_to "よくある質問", faq_path, class: "mr-5 hover:text-gray-900" %>
        <%= link_to "お問合せ", inquiry_path, class: "mr-5 hover:text-gray-900" %>
        <%= yield :header_action %>
      <% end %>
    </nav>
  </div>
</header>

