    <header class="header">
      <div class="header-container">
        <%= link_to "Hanger Talk", root_path, id: "logo" %>
        <nav class="header-nav">
          <ul class="header-nav-list">
          <% if logged_in? %>
            <li><%= link_to "ホーム", root_path %></li>
            <li><%= link_to "通知", "#" %></li>
            <li><%= link_to "メッセージ", "#" %></li>
            <li><a href="#">アカウント</a>
              <ul>
              <li><%= link_to "プロフィール", current_user %></li>
                <li><%= link_to "ユーザー登録情報確認・変更", edit_user_path(current_user) %></li>
                <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
              </ul>
            </li>
            <li><%= link_to "よくある質問", faq_path %></li>
          <% else %>
            <li><%= link_to "ログイン", login_path %></li>
            <li><%= link_to "Hanger Talkとは？", about_path %></li>
            <li><%= link_to "よくある質問", faq_path %></li>
            <li><%= link_to "お問合せ", inquiry_path %></li>
          <% end %>
          </ul>
        </nav>
      </div>
    </header>