    <header class="header">
      <div class="header-container">
        <%= link_to "Hanger Talk", root_path, id: "logo" %>
        <nav class="header-nav">
          <ul class="header-nav-list">
            <li><%= link_to "Top", root_path %></li>
            <li><%= link_to "Hanger Talkとは？", about_path %></li>
            <li><%= link_to "よくある質問", faq_path %></li>
            <li><%= link_to "お問合せ", inquiry_path %></li>
          </ul>
        </nav>
      </div>
    </header>