<% if logged_in? %>
  <% @user ||= current_user %>
  <div class="main-sidebar">
      <div class="user-info-block">
        <h2 class="sidebar-user-name"><%= @user.name %></h2>
        <div class="user-stats">
          <a href="<%= following_user_path(@user) %>">
            <strong id="following" class="stat">
              <%= @user.following.count %>
            </strong>
            <p>following</p>
          </a>
          <a href="<%= followers_user_path(@user) %>">
            <strong id="followers" class="stat">
              <%= @user.followers.count %>
            </strong>
            <p>followers</p>
          </a>
        </div>
      </div>
      
      <div class="side-menu">
        <ul>
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "プロフィール", @user %></li>
          <li><%= link_to "新しいフライト", new_glider_flight_path %></li>
          <li><%= link_to "フライトログブック", glider_flights_path %></li>
          <li><%= link_to "グループ", groups_path %></li>
          <li><%= link_to "設定", "#" %></li>
        </ul>
      </div>
  </div> 
<% end %>
