
 <!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% if flash.any? %>
      <%= render 'layouts/notification' %>
    <% end %>

    <main class='container flex flex-wrap mx-auto px-4'>
      <article class='w-full lg:w-4/12'>
        <% if user_signed_in? %>
          <%= render 'layouts/sidebar' %>
        <% end %>
      </article>
      <article class='w-full lg:w-8/12'>
        <%= yield %> 
      </article>
    </main>

    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html> 


<%
=begin%>
 <!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% if flash.any? %>
      <%= render 'layouts/notification' %>
    <% end %>

    <main class='container flex flex-wrap mx-auto'>
      <article class='w-full lg:w-1'>
        <% if user_signed_in? %>
          <div>
            サイドバー<br>
            １<br>
            ２<br>
            ３<br>
          </div>
        <% end %>
      </article>
      <article class='w-full lg:w-3'>
        <p>コンテンツ</p>
      </article>
    </main>

    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html> 
<%
=end%>
