
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %> 

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% if flash.any? %>
      <div class="flex justify-center items-center p-4">
        <%= render 'layouts/notification' %>
      </div>
    <% end %> 

    <main class='container flex flex-wrap-reverse mx-auto px-4'>
      <% if user_signed_in? %>
        <article class='w-full lg:w-4/12'>
          <%= render 'layouts/sidebar' %>
        </article>
        <article class='w-full lg:w-8/12'>
          <%= yield %> 
        </article>
      <% else %>
        <article class='w-full'>
          <%= yield %> 
        </article>
      <% end %>
    </main>

    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html> 
